/obj
/.vs
/obj/Debug
/obj/Debug/net8.0
/obj/Debug/net8.0
obj/Debug/net8.0/rpswa.dswa.cache.json
obj/Debug/net8.0/WebApplication1.AssemblyInfo.cs
obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
obj/Debug/net8.0/WebApplication1.assets.cache
obj/Debug/net8.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
